<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,327},{317,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,163}}</string>
                <key>sourceSize</key>
                <string>{317,163}</string>
            </dict>
            <key>back_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{367,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,155}}</string>
                <key>sourceSize</key>
                <string>{367,155}</string>
            </dict>
            <key>retry_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,159},{327,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,166}}</string>
                <key>sourceSize</key>
                <string>{327,166}</string>
            </dict>
            <key>retry_cn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,159},{327,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,166}}</string>
                <key>sourceSize</key>
                <string>{327,166}</string>
            </dict>
            <key>retry_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{413,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{413,185}}</string>
                <key>sourceSize</key>
                <string>{413,185}</string>
            </dict>
            <key>retry_en2.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,2},{413,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{413,185}}</string>
                <key>sourceSize</key>
                <string>{413,185}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>continue.png</string>
            <key>size</key>
            <string>{873,499}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc1eeb6d9d4fb120c188bc3b74ba0f1e:a012d365b86478d27e5a5a6ed2fe0640:1e8f5629283670635629f613db5c3136$</string>
            <key>textureFileName</key>
            <string>continue.png</string>
        </dict>
    </dict>
</plist>
